<!-- Portfolio -->
<article id="portfolio" class="wrapper style3">
  <div class="container">
    <header>
      <h2>Liste des spéciales</h2>
      <!-- <div class="md-input-wrapper">
        <p>Effectuer la recherche en tapant le nom de la spéciale</p>
        <input type="text" id="search-data" class="form-control" [(ngModel)]="term">
         <label>fff</label> 
        
      </div> -->
      <div class="form-group">
        <!-- <label for="exampleInputEmail1">Email address</label> -->
        <input type="email" class="form-control" [(ngModel)]="term" id="search-data" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">Effectuer la recherche en tapant le nom de la spéciale</small>
      </div>
    </header>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-12" *ngFor="let s of speciales | filter:term; let i=index">
        <article class="box style2">
          <a href="#" class="image featured">
            <img src="../assets/images/pic01.jpg" alt="" />
          </a>
          <h3>
            <a href="#">{{s.nom_speciale}}</a>
          </h3>
          <p>Distance : {{s.distance_speciale}} km</p>
          <p><button type="button" (click)="onSelect(s)" class="btn btn-primary btn-block">Classement S{{i+1}}
            <i class="icofont icofont-bubble-right"></i>
          </button></p>
        </article>
      </div>
      
    </div>
    <!-- <footer>
      <p>Lorem ipsum dolor sit sapien vestibulum ipsum primis?</p>
      <a href="#contact" class="button large scrolly">Get in touch with me</a>
    </footer> -->
  </div>
</article>
