<!-- <article id="work" class="wrapper style2">
  <div class="container">
    <header>
      <h2 *ngIf="speciale">Classement général officieux (Hors Pénalité) de la spéciale {{speciale.id}} : {{speciale.nom_speciale}} </h2>
    </header>
    <div class="row aln-center">
      <div class="col-12 col-12-medium col-12-small">
        <section class="box style1">
          <table class="row-border hover table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">Rang</th>
                <th scope="col">N°</th>
                <th scope="col">Pilote/Co-pilote</th>
                <th scope="col" class="d-none d-sm-table-cell">Vehicule</th>
                <th scope="col" class="d-none d-sm-table-cell">Group</th>
                <th scope="col">Temps</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let classement of classements; let i = index">
                <td>{{i+1}} </td>
                <th scope="row">{{classement.pilote.numero}} </th>
                <td>
                  <img src="https://restcountries.eu/data/{{classement.pilote.nat_pilote | lowercase}}.svg" alt="drapeau pays" class="img-fluid  img-thumbnail" height="25" width="25">
                  {{classement.pilote.prenom_pilote}} {{classement.pilote.nom_pilote}} <br/>
                  <img src="https://restcountries.eu/data/{{classement.pilote.nat_copilote | lowercase}}.svg" alt="drapeau pays" class="img-fluid  img-thumbnail" height="25" width="25">
                  {{classement.pilote.prenom_copilote}} {{classement.pilote.nom_copilote}}
                </td>
                <td class="d-none d-sm-table-cell">{{classement.pilote.marque_vehicule}}</td>
                <td class="d-none d-sm-table-cell">{{classement.pilote.classgroup}}</td>
                <td>{{classement.temps|secondToTime}}</td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>

    </div>
  </div>
</article> -->
<div class="" style="margin:1%;">
  <img class="img-fluid img-thumbnail left" src="./assets/images/bandama-logo.jpg" alt="" height="7%" width="15%">
  <a href="https://iptek-ci.business.site/" target="_blank"><img class="img-fluid img-thumbnail"
      src="./assets/images/ipteck.jpg" alt="" height="7%" width="7%" style="margin-left:30%;"></a>
  <img class="img-fluid img-thumbnail" src="./assets/images/fisa.jpg" alt="" height="7%" width="15%"
    style="margin-left:30%;">
</div> <br />

<article id="ARC" class="style2">
  <div class="container">
    <header>
      <h3 *ngIf="speciale" class="text-center text-warning bg-dark d-none d-sm-block" style="margin-top:3%; padding:1%; font-weight:bold;">Classement ARC NON Officiel (Hors Pénalité) SS {{speciale.id}} : {{speciale.nom_speciale}}</h3>
      <h5 *ngIf="speciale" class="text-center text-warning bg-dark d-sm-none" style="margin-top:3%; padding:1%; font-weight:bold;">Classement ARC NON Officiel (Hors Pénalité) SS {{speciale.id}} : {{speciale.nom_speciale}}</h5>
    </header>
    <div class="row aln-center">
      <div class="col-12 col-12-medium col-12-small">
        <section class="bg-white style1">
          <table class="row-border hover table table-striped table-bordered">
            <thead>
              <tr>
                <th>Rang</th>
                <th>N°</th>
                <th style="width:10%;">Image</th>
                <th style="width:10%;">Pilote</th>
                <th style="width:20%;" class="d-none d-md-table-cell">Co-pilote</th>
                <th style="width:20%;">Vehicule</th>
                <th style="width:20%;" class="d-none d-md-table-cell">Group</th>
                <th style="width:20%;">Temps</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of tab_ARC; let i = index" >
                <td [ngClass]="{'third': i==2,'second': i==1,'first': i==0,'strike': s.pilote.abandon==1}">{{i+1}} </td>

                <td [ngClass]="{'strike': s.pilote.abandon==1}">{{s.pilote.numero}} </td>
                <td><img src="assets/images/PILOTE COPILOTE/ID/{{ s.pilote.numero }}.png" alt="drapeau pays"
                    class="img-thumbnails img-fluid photo_pilote"> </td>
                <td style="text-align:left;" [ngClass]="{'strike': s.pilote.abandon==1}">
                  <img src="https://restcountries.eu/data/{{s.pilote.nat_pilote | lowercase}}.svg" alt="drapeau pays"
                    class="img-fluid  img-thumbnails" style="height:25px;width:25px;">
                  {{s.pilote.prenom_pilote}} {{s.pilote.nom_pilote}} <br />
                </td>
                <td style="text-align:left;" [ngClass]="{'strike': s.pilote.abandon==1}" class="d-none d-md-table-cell">
                  <img src="https://restcountries.eu/data/{{s.pilote.nat_copilote | lowercase}}.svg" alt="drapeau pays"
                    class="img-fluid  img-thumbnails" style="height:25px;width:25px;">
                  {{s.pilote.prenom_copilote}} {{s.pilote.nom_copilote}}
                </td>
                <td style="text-align:center;" [ngClass]="{'strike': s.pilote.abandon==1}">
                  <span>
                    <img src="{{ s.pilote.logo_voiture }}" alt="logo {{s.pilote.marque_vehicule }}" class="img-fluid img-thumbnails"
                    style="height:25px;width:25px;">
                  </span><span class="d-none d-lg-block">{{s.pilote.marque_vehicule}}</span>
                </td>
                <td style="text-align:center;" [ngClass]="{'strike': s.pilote.abandon==1}" class="d-none d-md-table-cell">{{s.pilote.classgroup}}</td>
                <td [ngClass]="{'strike': s.pilote.abandon==1}" style="font-size:13px;" class="text-center">
                  {{s.temps|secondToTime}}  <i [ngClass]="{'fa fa-window-close': s.pilote.abandon==1}"></i> <br/>
                  <span class="text-info" *ngIf="i != 0">
                    + {{ s.temps - class_nonSSV[0].temps |secondToTime}}
                  </span>
                  <span *ngIf="i == 0" class="text-info"> + 00:00  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>
</article>
<article id="NONARC" class="style2">
  <div class="container">
    <header>
      <h3 *ngIf="speciale" class="text-center text-warning bg-dark d-none d-sm-block" style="margin-top:3%; padding:1%; font-weight:bold;">Classement des NATIONAUX NON Officiel (Hors Pénalité) SS {{speciale.id}} : {{speciale.nom_speciale}}</h3>
      <h5 *ngIf="speciale" class="text-center text-warning bg-dark d-sm-none" style="margin-top:3%; padding:1%; font-weight:bold;">Classement des NATIONAUX NON Officiel (Hors Pénalité) SS {{speciale.id}} : {{speciale.nom_speciale}}</h5>
    </header>
    <div class="row aln-center">
      <div class="col-12 col-12-medium col-12-small">
        <section class="bg-white style1">
          <table class="row-border hover table table-striped table-bordered">
            <thead>
              <tr>
                <th>Rang</th>
                <th>N°</th>
                <th style="width:10%;">Image</th>
                <th style="width:10%;">Pilote</th>
                <th style="width:20%;" class="d-none d-md-table-cell">Co-pilote</th>
                <th style="width:20%;">Vehicule</th>
                <th style="width:20%;" class="d-none d-md-table-cell">Group</th>
                <th style="width:20%;">Temps</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of tab_non_ARC; let i = index" >
                <td [ngClass]="{'third': i==2,'second': i==1,'first': i==0,'strike': s.pilote.abandon==1}">{{i+1}} </td>

                <td [ngClass]="{'strike': s.pilote.abandon==1}">{{s.pilote.numero}} </td>
                <td><img src="assets/images/PILOTE COPILOTE/ID/{{ s.pilote.numero }}.png" alt="drapeau pays"
                    class="img-thumbnails img-fluid photo_pilote"> </td>
                <td style="text-align:left;" [ngClass]="{'strike': s.pilote.abandon==1}">
                  <img src="https://restcountries.eu/data/{{s.pilote.nat_pilote | lowercase}}.svg" alt="drapeau pays"
                    class="img-fluid  img-thumbnails" style="height:25px;width:25px;">
                  {{s.pilote.prenom_pilote}} {{s.pilote.nom_pilote}} <br />
                </td>
                <td style="text-align:left;" [ngClass]="{'strike': s.pilote.abandon==1}" class="d-none d-md-table-cell">
                  <img src="https://restcountries.eu/data/{{s.pilote.nat_copilote | lowercase}}.svg" alt="drapeau pays"
                    class="img-fluid  img-thumbnails" style="height:25px;width:25px;">
                  {{s.pilote.prenom_copilote}} {{s.pilote.nom_copilote}}
                </td>
                <td style="text-align:center;" [ngClass]="{'strike': s.pilote.abandon==1}">
                  <span>
                    <img src="{{ s.pilote.logo_voiture }}" alt="logo {{s.pilote.marque_vehicule }}" class="img-fluid img-thumbnails"
                    style="height:25px;width:25px;">
                  </span><span class="d-none d-lg-block">{{s.pilote.marque_vehicule}}</span>
                </td>
                <td style="text-align:center;" [ngClass]="{'strike': s.pilote.abandon==1}" class="d-none d-md-table-cell">{{s.pilote.classgroup}}</td>
                <td [ngClass]="{'strike': s.pilote.abandon==1}" style="font-size:13px;" class="text-center">
                  {{s.temps|secondToTime}}  <i [ngClass]="{'fa fa-window-close': s.pilote.abandon==1}"></i> <br/>
                  <span class="text-info" *ngIf="i != 0">
                    + {{ s.temps - class_nonSSV[0].temps |secondToTime}}
                  </span>
                  <span *ngIf="i == 0" class="text-info"> + 00:00  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>
</article>


<article id="SSV" class="">
  <div class="container">
    <header>
      <h3 *ngIf="speciale" class="text-center text-warning bg-dark d-none d-sm-block" style="margin-top:3%; padding:1%; font-weight:bold;">Classement SSV NON Officiel (Hors Pénalité) SS {{speciale.id}} : {{speciale.nom_speciale}}</h3>
      <h5 *ngIf="speciale" class="text-center text-warning bg-dark d-sm-none" style="margin-top:3%; padding:1%; font-weight:bold;">Classement SSV NON Officiel (Hors Pénalité) SS {{speciale.id}} : {{speciale.nom_speciale}}</h5>
    </header>
    <div class="row aln-center">
      <div class="col-12 col-12-medium col-12-small">
        <section class="bg-white style1">
          <table class="row-border hover table table-striped table-bordered">
            <thead>
              <tr>
                <th>Rang</th>
                <th>N°</th>
                <th style="width:10%;">Image</th>
                <th style="width:10%;">Pilote</th>
                <th style="width:20%;" class="d-none d-md-table-cell">Co-pilote</th>
                <th style="width:20%;">Vehicule</th>
                <th style="width:20%;" class="d-none d-md-table-cell">Group</th>
                <th style="width:20%;">Temps</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of class_SSV; let i = index">
                <td [ngClass]="{'third': i==2,'second': i==1,'first': i==0,'strike': s.pilote.abandon==1}">{{i+1}} </td>

                <td style="width:5%;" [ngClass]="{'strike': s.pilote.abandon==1}">{{s.pilote.numero}} </td>
                <td><img src="assets/images/PILOTE COPILOTE/ID/{{ s.pilote.numero }}.png" alt="drapeau pays"
                    class="img-thumbnails img-fluid photo_pilote"> </td>
                <td style="text-align:left;" [ngClass]="{'strike': s.pilote.abandon==1}">
                  <img src="https://restcountries.eu/data/{{s.pilote.nat_pilote | lowercase}}.svg" alt="drapeau pays"
                    class="img-fluid  img-thumbnails" style="height:25px;width:25px;">
                  {{s.pilote.prenom_pilote}} {{s.pilote.nom_pilote}} <br />
                </td>
                <td style="text-align:left;" [ngClass]="{'strike': s.pilote.abandon==1}" class="d-none d-md-table-cell">
                  <img src="https://restcountries.eu/data/{{s.pilote.nat_copilote | lowercase}}.svg" alt="drapeau pays"
                    class="img-fluid  img-thumbnails" style="height:25px;width:25px;">
                  {{s.pilote.prenom_copilote}} {{s.pilote.nom_copilote}}
                </td>
                <td style="text-align:center;" [ngClass]="{'strike': s.pilote.abandon==1}">
                  <span>
                    <img src="{{ s.pilote.logo_voiture }}" alt="logo {{s.pilote.marque_vehicule }}" class="img-fluid img-thumbnails"
                    style="height:25px;width:25px;">
                  </span><span class="d-none d-lg-block">{{s.pilote.marque_vehicule}}</span>
                </td>
                <td style="text-align:center;" [ngClass]="{'strike': s.pilote.abandon==1}" class="d-none d-md-table-cell">{{s.pilote.classgroup}}</td>
                <td [ngClass]="{'strike': s.pilote.abandon==1}" style="font-size:13px;" class="text-center">
                  {{s.temps|secondToTime}} <i [ngClass]="{'fa fa-window-close': s.pilote.abandon==1}"></i> <br/>
                  <span class="text-info" *ngIf="i != 0">
                    + {{ s.temps - class_SSV[0].temps |secondToTime}}
                  </span>
                  <span *ngIf="i == 0" class="text-info"> + 00:00  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>
</article>


<article id="NONSSV" class="style2">
  <div class="container">
    <header>
      <h3 *ngIf="speciale" class="text-center text-warning bg-dark d-none d-sm-block"
        style="margin-top:3%; padding:1%; font-weight:bold;">Classement 4WD/2WD/ARC NON Officiel (Hors Pénalité) SS
        {{speciale.id}} : {{speciale.nom_speciale}}</h3>
      <h5 *ngIf="speciale" class="text-center text-warning bg-dark d-sm-none"
        style="margin-top:3%; padding:1%; font-weight:bold;">Classement 4WD/2WD/ARC NON Officiel (Hors Pénalité) SS
        {{speciale.id}} : {{speciale.nom_speciale}}</h5>
    </header>
    <div class="row aln-center">
      <div class="col-12 col-12-medium col-12-small">
        <section class="bg-white style1">
          <table class="row-border hover table table-striped table-bordered">
            <thead>
              <tr>
                <th>Rang</th>
                <th>N°</th>
                <th style="width:10%;">Image</th>
                <th style="width:10%;">Pilote</th>
                <th style="width:20%;" class="d-none d-md-table-cell">Co-pilote</th>
                <th style="width:20%;">Vehicule</th>
                <th style="width:20%;" class="d-none d-md-table-cell">Group</th>
                <th style="width:20%;">Temps</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of class_nonSSV; let i = index">
                <td [ngClass]="{'third': i==2,'second': i==1,'first': i==0,'strike': s.pilote.abandon==1}">{{i+1}} </td>

                <td [ngClass]="{'strike': s.pilote.abandon==1}">{{s.pilote.numero}} </td>
                <td><img src="assets/images/PILOTE COPILOTE/ID/{{ s.pilote.numero }}.png" alt="drapeau pays"
                    class="img-thumbnails img-fluid photo_pilote"> </td>
                <td style="text-align:left;" [ngClass]="{'strike': s.pilote.abandon==1}">
                  <img src="https://restcountries.eu/data/{{s.pilote.nat_pilote | lowercase}}.svg" alt="drapeau pays"
                    class="img-fluid  img-thumbnails" style="height:25px;width:25px;">
                  {{s.pilote.prenom_pilote}} {{s.pilote.nom_pilote}} <br />
                </td>
                <td style="text-align:left;" [ngClass]="{'strike': s.pilote.abandon==1}" class="d-none d-md-table-cell">
                  <img src="https://restcountries.eu/data/{{s.pilote.nat_pilote | lowercase}}.svg" alt="drapeau pays"
                    class="img-fluid  img-thumbnails" style="height:25px;width:25px;">
                  {{s.pilote.prenom_copilote}} {{s.pilote.nom_copilote}}
                </td>
                <td style="text-align:center;" [ngClass]="{'strike': s.pilote.abandon==1}">
                  <span>
                    <img src="{{ s.pilote.logo_voiture }}" alt="logo {{s.pilote.marque_vehicule }}"
                      class="img-fluid img-thumbnails" style="height:25px;width:25px;">
                  </span><span class="d-none d-lg-block">{{s.pilote.marque_vehicule}}</span>
                </td>
                <td style="text-align:center;" [ngClass]="{'strike': s.pilote.abandon==1}"
                  class="d-none d-md-table-cell">{{s.pilote.classgroup}}</td>
                <td [ngClass]="{'strike': s.pilote.abandon==1}" style="font-size:13px;" class="text-center">
                  {{s.temps|secondToTime}} <i [ngClass]="{'fa fa-window-close': s.pilote.abandon==1}"></i> <br />
                  <span class="text-info" *ngIf="i != 0">
                    + {{ s.temps - class_nonSSV[0].temps |secondToTime}}
                  </span>
                  <span *ngIf="i == 0" class="text-info"> + 00:00 </span>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>
</article>

<div style="width:100%;">

  <h3 class="text-center" style="margin-top:3%; padding:1%; font-weight:bold;background:silver;">
    <span style="font-size: 16px;"> Copyright 2019 <a href="http://iptek-ci.com" target="_blank"> IPTEK-CI</a></span>
    <span style="font-size: 16px;float: right"><a href="https://www.facebook.com/iptekci/" target="_blank"> <i
          class="fa fa-facebook"></i> </a></span></h3>

</div>