<!-- <article id="work" class="wrapper style2">
  <div class="container">
    <header>
      <h2 *ngIf="speciale">Classement général officieux (Hors Pénalité) de la spéciale {{speciale.id}} : {{speciale.nom_speciale}} </h2>
    </header>
    <div class="row aln-center">
      <div class="col-12 col-12-medium col-12-small">
        <section class="box style1">
          <table class="row-border hover table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">Rang</th>
                <th scope="col">N°</th>
                <th scope="col">Pilote/Co-pilote</th>
                <th scope="col" class="d-none d-sm-table-cell">Vehicule</th>
                <th scope="col" class="d-none d-sm-table-cell">Group</th>
                <th scope="col">Temps</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let classement of classements; let i = index">
                <td>{{i+1}} </td>
                <th scope="row">{{classement.pilote.numero}} </th>
                <td>
                  <img src="https://restcountries.eu/data/{{classement.pilote.nat_pilote | lowercase}}.svg" alt="drapeau pays" class="img-fluid  img-thumbnail" height="25" width="25">
                  {{classement.pilote.prenom_pilote}} {{classement.pilote.nom_pilote}} <br/>
                  <img src="https://restcountries.eu/data/{{classement.pilote.nat_copilote | lowercase}}.svg" alt="drapeau pays" class="img-fluid  img-thumbnail" height="25" width="25">
                  {{classement.pilote.prenom_copilote}} {{classement.pilote.nom_copilote}}
                </td>
                <td class="d-none d-sm-table-cell">{{classement.pilote.marque_vehicule}}</td>
                <td class="d-none d-sm-table-cell">{{classement.pilote.classgroup}}</td>
                <td>{{classement.temps|secondToTime}}</td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>

    </div>
  </div>
</article> -->
<article id="NONSSV" class="wrapper style2">
  <div class="container">
    <header>
      <h2 *ngIf="speciale">Classement 4WD/2WD officieux (Hors Pénalité) de la spéciale {{speciale.id}} : {{speciale.nom_speciale}}</h2>
    </header>
    <div class="row aln-center">
      <div class="col-12 col-12-medium col-12-small">
        <section class="box style1">
          <table class="row-border hover table table-striped table-bordered">
            <thead>
              <tr>
                <th style="width: 60px;">Rang</th>
                <th style="width: 60px;">N°</th>
                <th style="width: 200px;">Pilote</th>
                <th style="width: 200px;">Co-pilote</th>
                <th style="width: 200px;">Vehicule</th>
                <th style="width: 60px;">Group</th>
                <th>Temps</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of class_nonSSV; let i = index" >
                <td [ngClass]="{'third': i==2,'second': i==1,'first': i==0,'strike': s.pilote.abandon==1}">{{i+1}} </td>
                
                <td [ngClass]="{'strike': s.pilote.abandon==1}">{{s.pilote.numero}} </td>
                <td style="text-align:left;" [ngClass]="{'strike': s.pilote.abandon==1}">
                  <img src="https://restcountries.eu/data/{{s.pilote.nat_pilote | lowercase}}.svg" alt="drapeau pays"
                    class="img-fluid  img-thumbnails" style="height:25px;width:25px;">
                  {{s.pilote.prenom_pilote}} {{s.pilote.nom_pilote}} <br />
                </td>
                <td style="text-align:left;" [ngClass]="{'strike': s.pilote.abandon==1}">
                  <img src="https://restcountries.eu/data/{{s.pilote.nat_pilote | lowercase}}.svg" alt="drapeau pays"
                    class="img-fluid  img-thumbnails" style="height:25px;width:25px;">
                  {{s.pilote.prenom_copilote}} {{s.pilote.nom_copilote}}
                </td>
                <td style="text-align:left;" [ngClass]="{'strike': s.pilote.abandon==1}">
                  <img src="{{ s.pilote.logo_voiture }}" alt="logo {{s.pilote.marque_vehicule }}" class="img-fluid img-thumbnails"
                    style="height:25px;width:25px;">
                  {{s.pilote.marque_vehicule}}</td>
                <td [ngClass]="{'strike': s.pilote.abandon==1}">{{s.pilote.classgroup}}</td>
                <td [ngClass]="{'strike': s.pilote.abandon==1}">{{s.temps|secondToTime}}  <i [ngClass]="{'fa fa-window-close': s.pilote.abandon==1}"></i></td>
              </tr>
            </tbody>
          </table>
        </section>

      </div>
    </div>
  </div>
</article>


<article id="SSV" class="wrapper style2">
  <div class="container">
    <header>
      <h2 *ngIf="speciale">Classement SSV officieux (Hors Pénalité) de la spéciale {{speciale.id}} : {{speciale.nom_speciale}}</h2>
    </header>
    <div class="row aln-center">
      <div class="col-12 col-12-medium col-12-small">
        <section class="box style1">
          <table class="row-border hover table table-striped table-bordered">
            <thead>
              <tr>
                <th style="width: 60px;">Rang</th>
                <th style="width: 60px;">N°</th>
                <th style="width: 200px;">Pilote</th>
                <th style="width: 200px;">Co-pilote</th>
                <th style="width: 200px;">Vehicule</th>
                <th style="width: 60px;">Group</th>
                <th>Temps</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of class_SSV; let i = index">
                <td [ngClass]="{'third': i==2,'second': i==1,'first': i==0,'strike': s.pilote.abandon==1}">{{i+1}} </td>
                
                <td [ngClass]="{'strike': s.pilote.abandon==1}">{{s.pilote.numero}} </td>
                <td style="text-align:left;" [ngClass]="{'strike': s.pilote.abandon==1}">
                  <img src="https://restcountries.eu/data/{{s.pilote.nat_pilote | lowercase}}.svg" alt="drapeau pays"
                    class="img-fluid  img-thumbnails" style="height:25px;width:25px;">
                  {{s.pilote.prenom_pilote}} {{s.pilote.nom_pilote}} <br />
                </td>
                <td style="text-align:left;" [ngClass]="{'strike': s.pilote.abandon==1}">
                  <img src="https://restcountries.eu/data/{{s.pilote.nat_pilote | lowercase}}.svg" alt="drapeau pays"
                    class="img-fluid  img-thumbnails" style="height:25px;width:25px;">
                  {{s.pilote.prenom_copilote}} {{s.pilote.nom_copilote}}
                </td>
                <td style="text-align:left;" [ngClass]="{'strike': s.pilote.abandon==1}">
                  <img src="{{ s.pilote.logo_voiture }}" alt="logo {{s.pilote.marque_vehicule }}" class="img-fluid img-thumbnails"
                    style="height:25px;width:25px;">
                  {{s.pilote.marque_vehicule}}</td>
                <td [ngClass]="{'strike': s.pilote.abandon==1}">{{s.pilote.classgroup}}</td>
                <td [ngClass]="{'strike': s.pilote.abandon==1}">{{s.temps|secondToTime}} <i [ngClass]="{'fa fa-window-close': s.pilote.abandon==1}"></i></td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>
</article>
