.img-thumbnails {
  padding: .25rem;
  border-radius: .25rem;
  max-width: 100%;
  height: auto;
}

.first {
  background-color: #0acf83;
}

.second {
  background-color: #ffc107;
}

.third {
  background-color: #65452c;
}


@media (max-width: 992px) {
  #logoDesktop1, #logoDesktop2 {
    display: none;
  }

  #logoMobile1 {
    height: 68px !important;
  }

  #logoMobile1, #logoMobile2 {
    margin-left: -9px;
  }

}

@media (max-width: 527px) {
  #logoMobile1, #logoMobile2 {
    width: 160px !important;
  }
}

@media (max-width: 589px) {
  .carNumber, .vehicule, .groupe {
    display: none;
  }
}

@media (max-width: 488px) {
  #logoMobile1, #logoMobile2 {
    width: 140px !important;
  }
}

@media (max-width: 468px) {
  #logoMobile1, #logoMobile2 {
    width: 120px !important;
  }
}

@media (max-width: 448px) {
  #logoMobile1, #logoMobile2 {
    width: 100px !important;
  }
}

@media (max-width: 428px) {
  #logoMobile1, #logoMobile2 {
    width: 80px !important;
  }
}

@media (max-width: 320px) {
  #logoMobile1, #logoMobile2 {
    width: 60px !important;
  }
}

@media (max-width: 300px) {
  #logoMobile1, #logoMobile2 {
    display: none !important;
  }
}
