
<!-- <article id="work" class="wrapper style2">
  <div class="container">
    <header>
      <h2>Classement officieux (Hors Pénalité) général </h2>
    </header>
    <div class="row aln-center">
      <div class="col-12 col-12-medium col-12-small">
        <section class="box style1">
          <table class="row-border hover table table-striped table-bordered">
            <thead>
              <tr>
                <th >Rang</th>
                <th >N°</th>
                <th >Pilote/Co-pilote</th>
                <th  class="d-none d-sm-table-cell">Vehicule</th>
                <th  class="d-none d-sm-table-cell">Group</th>
                <th >Temps</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let classement of classements; let i = index">
                <td>{{i+1}} </td>
                <th scope="row">{{classement.numero}} </th>
                <td>
                  <img src="https://restcountries.eu/data/{{classement.nat_pilote | lowercase}}.svg" alt="drapeau pays" class="img-fluid  img-thumbnails" style="height:25px;width:25px;">
                  {{classement.prenom_pilote}} {{classement.nom_pilote}} <br/>
                  <img src="https://restcountries.eu/data/{{classement.nat_copilote | lowercase}}.svg" alt="drapeau pays" class="img-fluid  img-thumbnails" style="height:25px;width:25px;">
                   {{classement.prenom_copilote}} {{classement.nom_copilote}}
                </td>
                <td class="d-none d-sm-table-cell">{{classement.marque_vehicule}}</td>
                <td class="d-none d-sm-table-cell">{{classement.classgroup}}</td>
                <td>{{classement.arc|secondToTime}}</td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>
</article> -->
<h3>Clickable</h3>
<p-steps [(model)]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>

<article id="NONSSV" class="wrapper style2">
  <div class="container">
    <header>
      <h2>Classement officieux (Hors Pénalité) 4WD/2WD</h2>
      <!-- <p>Odi turpis amet sed consequat eget posuere consequat.</p> -->
    </header>
    <div class="row aln-center">
      <div class="col-12 col-12-medium col-12-small">
        <section class="box style1">
          <table class="row-border hover table table-striped table-bordered">
            <thead>
              <tr>
                <th >Rang</th>
                <th >N°</th>
                <th style="width:20%;">Pilote</th>
                <th style="width:20%;">Co-pilote</th>
                <th style="width:20%;">Vehicule</th>
                <th style="width:20%;">Group</th>
                <th style="width:20%;">Temps</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of class_nonSSV; let i = index" class="text-decoration: line-through;">
                
                
                <td [ngClass]="{'third': i==2,'second': i==1,'first': i==0}" >{{i+1}} </td>
                
                <td style="width:5%;">{{s.numero}} </td>
                <td style="text-align:left;width:5%;">
                  <img src="https://restcountries.eu/data/{{s.nat_pilote | lowercase}}.svg" alt="drapeau pays" class="img-fluid  img-thumbnails" style="height:25px;width:25px;">
                  {{s.prenom_pilote}} {{s.nom_pilote}} <br/>
                </td>
                <td style="text-align:left;">
                  <img src="https://restcountries.eu/data/{{s.nat_copilote | lowercase}}.svg" alt="drapeau pays"
                    class="img-fluid  img-thumbnails" style="height:25px;width:25px;">
                  {{s.prenom_copilote}} {{s.nom_copilote}}
                </td>
                <td style="text-align:left;">
                  <img src="{{ s.logo_voiture }}" alt="logo {{s.marque_vehicule }}" class="img-fluid img-thumbnails" style="height:25px;width:25px;">
                  {{s.marque_vehicule}}</td>
                <td >{{s.classgroup}}</td>
                <td >{{s.arc|secondToTime}}</td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>
</article>

<article id="SSV" class="wrapper style2">
  <div class="container">
    <header>
      <h2>Classement officieux (Hors Pénalité) SSV</h2>
    </header>
    <div class="row aln-center">
      <div class="col-12 col-12-medium col-12-small">
        <section class="box style1">
          <table class="row-border hover table table-striped table-bordered">
            <thead>
              <tr>
                <th>Rang</th>
                <th>N°</th>
                <th style="width:20%;">Pilote</th>
                <th style="width:20%;">Co-pilote</th>
                <th style="width:20%;">Vehicule</th>
                <th style="width:20%;">Group</th>
                <th style="width:20%;">Temps</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of class_SSV; let i = index">
              <td [ngClass]="{'third': i==2,'second': i==1,'first': i==0}">{{i+1}} </td>
              
              <td style="width:5%;">{{s.numero}} </td>
              <td style="text-align:left;width:5%;">
                <img src="https://restcountries.eu/data/{{s.nat_pilote | lowercase}}.svg" alt="drapeau pays"
                  class="img-fluid  img-thumbnails" style="height:25px;width:25px;">
                {{s.prenom_pilote}} {{s.nom_pilote}} <br />
              </td>
              <td style="text-align:left;">
                <img src="https://restcountries.eu/data/{{s.nat_copilote | lowercase}}.svg" alt="drapeau pays"
                  class="img-fluid  img-thumbnails" style="height:25px;width:25px;">
                {{s.prenom_copilote}} {{s.nom_copilote}}
              </td>
              <td style="text-align:left;">
                <img src="{{ s.logo_voiture }}" alt="logo {{s.marque_vehicule }}" class="img-fluid img-thumbnails"
                  style="height:25px;width:25px;">
                {{s.marque_vehicule}}</td>
              <td>{{s.classgroup}}</td>
              <td>{{s.arc|secondToTime}}</td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>

  </div>
</article>
