<!-- <div class="bg"> -->


<!-- <h3>Clickable</h3> -->
<!-- <p-steps [(model)]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps> -->

<!-- <article id="NONSSV" class="wrapper style2"> -->

  
  <img class="img-fluid img-thumbnail left" src="./assets/images/bandama-logo.png" alt="" height="7%" width="15%">
  <img class="img-fluid img-thumbnail" src="./assets/images/fisa.jpg" alt="" height="7%" width="15%" style="margin-left:65%;">


<article id="work">
  <div class="container">
    <header>
      <h6 class="text-center text-warning bg-dark d-sm-none" style="margin-top:3%; padding:1%; font-weight:bold;">
        Classement officieux</h6>
      <h3 class="text-center text-warning bg-dark d-none d-sm-block"
        style="margin-top:3%; padding:1%; font-weight:bold;">Classement officieux</h3>
    </header>
    <div class="row aln-center">
      <div class="col-12 col-12-medium col-12-small">
       <section class="box style1">
          <table class="row-border hover table table-striped table-bordered">
            <thead>
              <tr>
                <th>Rang</th>
                <th>N°</th>
                <!-- <th style="width:10%;">Image</th> -->
                <th style="width:10%;">Pilote</th>
                <th style="width:20%;" class="d-none d-md-table-cell">Co-pilote</th>
                <th style="width:20%;">Vehicule</th>
                <th style="width:20%;" class="d-none d-md-table-cell">Group</th>
                <th style="width:20%;">Temps</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of classements; let i = index" class="text-decoration: line-through;">
                <td [ngClass]="{'third': i==2,'second': i==1,'first': i==0}">{{i+1}} </td>

                <td style="width:5%;">{{s.numero}} </td>
                <!-- <td><img src="assets/images/PILOTE COPILOTE/ID/{{ s.numero }}.png" alt=""
                    class="img-thumbnails img-fluid photo_pilote"> </td> -->
                <td style="text-align:left;width:10%;">
                  <img src="https://flagcdn.com/{{s.nat_pilote | lowercase}}.svg" alt=""
                    class="img-fluid  img-thumbnails" style="height:25px;width:25px;">
                  {{s.prenom_pilote}} {{s.nom_pilote}} <br />
                </td>
                <td style="text-align:left;" class="d-none d-md-table-cell">
                  <img src="https://flagcdn.com/{{s.nat_copilote | lowercase}}.svg" alt=""
                    class="img-fluid  img-thumbnails" style="height:25px;width:25px;">
                  {{s.prenom_copilote}} {{s.nom_copilote}}
                </td>
                <td style="text-align:center;">
                  <!-- <span>
                    <img src="{{ s.logo_voiture }}" alt="logo {{s.marque_vehicule }}" class="img-fluid img-thumbnails"
                      style="height:25px;width:25px;">
                  </span> -->
                  <span class="d-none d-lg-block">{{s.marque_vehicule}}</span>
                </td>
                <td class="d-none d-md-table-cell">{{s.classgroup}}</td>
                <td style="font-size:13px;">
                  {{s.arc|secondToTime}} <br />
                  <span class="text-info" *ngIf="i != 0">
                    + {{ s.arc - classements[0].arc |secondToTime}}
                  </span>
                  <span *ngIf="i == 0" class="text-info"> + 00:00 </span>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>
</article>
<!-- <article id="ARC" class="">
  <div class="container">
    <header>
      <h3 class="text-center text-warning bg-dark d-none d-sm-block" style="margin-top:1%; padding:1%; font-weight:bold;">Classement Général officieux (Hors Pénalité) ARC</h3>
      <h6 class="text-center text-warning bg-dark d-sm-none" style="margin-top:1%; padding:1%; font-weight:bold;">Classement Général officieux (Hors Pénalité) ARC</h6>
    </header>
    <div class="row aln-center">
      <div class="col-12">
        <section class="box style1">
          <table class="row-border hover table table-striped table-bordered">
            <thead>
              <tr>
                <th>Rang</th>
                <th>N°</th>
                <th style="width:10%;">Image</th>
                <th style="width:10%;">Pilote</th>
                <th style="width:20%;" class="d-none d-md-table-cell">Co-pilote</th>
                <th style="width:20%;">Vehicule</th>
                <th style="width:20%;" class="d-none d-md-table-cell">Group</th>
                <th style="width:20%;">Temps</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of tab_ARC; let i = index" class="text-decoration: line-through;">
                <td [ngClass]="{'third': i==2,'second': i==1,'first': i==0}" >{{i+1}} </td>

                <td style="width:5%;">{{s.numero}} </td>
                <td><img src="assets/images/PILOTE COPILOTE/ID/{{ s.numero }}.png" alt=""
                  class="img-thumbnails img-fluid photo_pilote"> </td>
                <td style="text-align:left;width:10%;">
                  <img src="https://flagcdn.com/{{s.nat_pilote | lowercase}}.svg" alt="" class="img-fluid  img-thumbnails" style="height:25px;width:25px;">
                  {{s.prenom_pilote}} {{s.nom_pilote}} <br/>
                </td>
                <td style="text-align:left;" class="d-none d-md-table-cell">
                  <img src="https://flagcdn.com/{{s.nat_copilote | lowercase}}.svg" alt=""
                    class="img-fluid  img-thumbnails" style="height:25px;width:25px;">
                  {{s.prenom_copilote}} {{s.nom_copilote}}
                </td>
                <td style="text-align:center;">
                  <span>
                    <img src="{{ s.logo_voiture }}" alt="logo {{s.marque_vehicule }}" class="img-fluid img-thumbnails"
                    style="height:25px;width:25px;">
                  </span><span class="d-none d-lg-block">{{s.marque_vehicule}}</span>
                </td>
                <td class="d-none d-md-table-cell">{{s.classgroup}}</td>
                <td style="font-size:13px;">
                  {{s.arc|secondToTime}} <br/>
                  <span class="text-info" *ngIf="i != 0">
                    + {{ s.arc - class_nonSSV[0].arc |secondToTime}}
                  </span>
                  <span *ngIf="i == 0" class="text-info"> + 00:00  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>
</article> -->
<!-- <article id="NONARC" class="">
  <div class="container">
    <header>
      <h3 class="text-center text-warning bg-dark d-none d-sm-block" style="margin-top:1%; padding:1%; font-weight:bold;">Classement Général officieux (Hors Pénalité) des NATIONAUX</h3>
      <h6 class="text-center text-warning bg-dark d-sm-none" style="margin-top:1%; padding:1%; font-weight:bold;">Classement Général officieux (Hors Pénalité) des NATIONAUX</h6>
    </header>
    <div class="row aln-center">
      <div class="col-12">
        <section class="box style1">
          <table class="row-border hover table table-striped table-bordered">
            <thead>
              <tr>
                <th>Rang</th>
                <th>N°</th>
                <th style="width:10%;">Image</th>
                <th style="width:10%;">Pilote</th>
                <th style="width:20%;" class="d-none d-md-table-cell">Co-pilote</th>
                <th style="width:20%;">Vehicule</th>
                <th style="width:20%;" class="d-none d-md-table-cell">Group</th>
                <th style="width:20%;">Temps</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of tab_non_ARC; let i = index" class="text-decoration: line-through;">
                <td [ngClass]="{'third': i==2,'second': i==1,'first': i==0}" >{{i+1}} </td>
                <td style="width:5%;">{{s.numero}} </td>
                <td><img src="assets/images/PILOTE COPILOTE/ID/{{ s.numero }}.png" alt=""
                  class="img-thumbnails img-fluid photo_pilote"> </td>
                <td style="text-align:left;width:10%;">
                  <img src="https://flagcdn.com/{{s.nat_pilote | lowercase}}.svg" alt="" class="img-fluid  img-thumbnails" style="height:25px;width:25px;">
                  {{s.prenom_pilote}} {{s.nom_pilote}} <br/>
                </td>
                <td style="text-align:left;" class="d-none d-md-table-cell">
                  <img src="https://flagcdn.com/{{s.nat_copilote | lowercase}}.svg" alt=""
                    class="img-fluid  img-thumbnails" style="height:25px;width:25px;">
                  {{s.prenom_copilote}} {{s.nom_copilote}}
                </td>
                <td style="text-align:center;">
                  <span>
                    <img src="{{ s.logo_voiture }}" alt="logo {{s.marque_vehicule }}" class="img-fluid img-thumbnails"
                    style="height:25px;width:25px;">
                  </span><span class="d-none d-lg-block">{{s.marque_vehicule}}</span>
                </td>
                <td class="d-none d-md-table-cell">{{s.classgroup}}</td>
                <td style="font-size:13px;">
                  {{s.arc|secondToTime}} <br/>
                  <span class="text-info" *ngIf="i != 0">
                    + {{ s.arc - class_nonSSV[0].arc |secondToTime}}
                  </span>
                  <span *ngIf="i == 0" class="text-info"> + 00:00  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>
</article> -->

<!--<article id="NONSSV" class="">
  <div class="container">
    <header>
      <h3 class="text-center text-warning bg-dark d-none d-sm-block"
        style="margin-top:1%; padding:1%; font-weight:bold;">Classement Général officieux (Hors Pénalité) 4WD/2WD
      </h3>
      <h6 class="text-center text-warning bg-dark d-sm-none" style="margin-top:1%; padding:1%; font-weight:bold;">
        Classement Général officieux (Hors Pénalité) 4WD/2WD</h6>
    </header>
    <div class="row aln-center">
      <div class="col-12">
        <section class="box style1">
          <table class="row-border hover table table-striped table-bordered">
            <thead>
              <tr>
                <th>Rang</th>
                <th>N°</th>
                <th style="width:10%;">Pilote</th>
                <th style="width:20%;" class="d-none d-md-table-cell">Co-pilote</th>
                <th style="width:20%;">Vehicule</th>
                <th style="width:20%;" class="d-none d-md-table-cell">Group</th>
                <th style="width:20%;">Temps</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of class_nonSSV; let i = index" class="text-decoration: line-through;">
                <td [ngClass]="{'third': i==2,'second': i==1,'first': i==0}">{{i+1}} </td>

                <td style="width:5%;">{{s.numero}} </td>
                
                <td style="text-align:left;width:10%;">
                  <img src="https://flagcdn.com/{{s.nat_pilote | lowercase}}.svg" alt=""
                    class="img-fluid  img-thumbnails" style="height:25px;width:25px;">
                  {{s.prenom_pilote}} {{s.nom_pilote}} <br />
                </td>
                <td style="text-align:left;" class="d-none d-md-table-cell">
                  <img src="https://flagcdn.com/{{s.nat_copilote | lowercase}}.svg" alt=""
                    class="img-fluid  img-thumbnails" style="height:25px;width:25px;">
                  {{s.prenom_copilote}} {{s.nom_copilote}}
                </td>
                <td style="text-align:center;">
                  <span>
                    <img src="{{ s.logo_voiture }}" alt="logo {{s.marque_vehicule }}" class="img-fluid img-thumbnails"
                      style="height:25px;width:25px;">
                  </span><span class="d-none d-lg-block">{{s.marque_vehicule}}</span>
                </td>
                <td class="d-none d-md-table-cell">{{s.classgroup}}</td>
                <td style="font-size:13px;">
                  {{s.arc|secondToTime}} <br />
                  <span class="text-info" *ngIf="i != 0">
                    + {{ s.arc - class_nonSSV[0].arc |secondToTime}}
                  </span>
                  <span *ngIf="i == 0" class="text-info"> + 00:00 </span>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>
</article>-->



<!--<article id="SSV" class="">
  <div class="container">
    <header>
      <h6 class="text-center text-warning bg-dark d-sm-none" style="margin-top:3%; padding:1%; font-weight:bold;">
        Classement Général officieux (Hors Pénalité) SSV</h6>
      <h3 class="text-center text-warning bg-dark d-none d-sm-block"
        style="margin-top:3%; padding:1%; font-weight:bold;">Classement Général officieux (Hors Pénalité) SSV</h3>
    </header>
    <div class="row aln-center">
      <div class="col-12 col-12-medium col-12-small">
        <section class="box style1">
          <table class="row-border hover table table-striped table-bordered">
            <thead>
              <tr>
                <th>Rang</th>
                <th>N°</th>
                
                <th style="width:10%;">Pilote</th>
                <th style="width:20%;" class="d-none d-md-table-cell">Co-pilote</th>
                <th style="width:20%;">Vehicule</th>
                <th style="width:20%;" class="d-none d-md-table-cell">Group</th>
                <th style="width:20%;">Temps</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of class_SSV; let i = index">
                <td [ngClass]="{'third': i==2,'second': i==1,'first': i==0}">{{i+1}} </td>

                <td style="width:5%;">{{s.numero}} </td>
                
                <td style="text-align:left;width:10%;">
                  <img src="https://flagcdn.com/{{s.nat_pilote | lowercase}}.svg" alt=""
                    class="img-fluid  img-thumbnails" style="height:25px;width:25px;">
                  {{s.prenom_pilote}} {{s.nom_pilote}} <br />
                </td>
                <td style="text-align:left;" class="d-none d-md-table-cell">
                  <img src="https://flagcdn.com/{{s.nat_copilote | lowercase}}.svg" alt=""
                    class="img-fluid  img-thumbnails" style="height:25px;width:25px;">
                  {{s.prenom_copilote}} {{s.nom_copilote}}
                </td>
                <td style="text-align:center;">
                  <span>
                    <img src="{{ s.logo_voiture }}" alt="logo {{s.marque_vehicule }}" class="img-fluid img-thumbnails"
                      style="height:25px;width:25px;">
                  </span><span class="d-none d-lg-block">{{s.marque_vehicule}}</span>
                </td>
                <td class="d-none d-md-table-cell">{{s.classgroup}}</td>
                <td style="font-size:13px;">
                  {{s.arc|secondToTime}} <br />
                  <span class="text-info" *ngIf="i != 0">
                    + {{ s.arc - class_SSV[0].arc |secondToTime}}
                  </span>
                  <span *ngIf="i == 0" class="text-info"> + 00:00 </span>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>

  </div>
</article>-->

 <div class="" style="margin:1%;">
<!--  <div class="text-center my-3" width="7%">
    <span class="col-sm my-2">
      <img class="img-fluid img-thumbnail left" src="./assets/images/SSV/cacomiaf.jpeg" alt="" height="10%" width="10%">
    </span>
    <span class="col-sm my-2">
      <img class="img-fluid img-thumbnail left" src="./assets/images/SSV/aboisso.jpeg" alt="" height="10%" width="10%">
    </span>
    <span class="col-sm my-2">
      <img class="img-fluid img-thumbnail left" src="./assets/images/SSV/assv_ci.jpeg" alt="" height="10%" width="10%">
    </span>
    <span class="col-sm" >
      <img class="img-fluid img-thumbnail left" src="./assets/images/SSV/orca.jpeg" alt="" height="10%" width="10%">
    </span>
  </div> -->
  <!-- <img class="img-fluid img-thumbnail left" src="./assets/images/SSV/cacomiaf.jpeg" alt="" height="7%" width="15%">
  <img class="img-fluid img-thumbnail left" src="./assets/images/SSV/aboisso.jpeg" alt="" height="7%" width="15%"> -->
  <a href="https://iptek-ci.business.site/" target="_blank"><img class="img-fluid img-thumbnail" src="./assets/images/11252763_1417634598557831_3474400750146319604_o.jpg" alt="" height="100%" width="12%" style="margin-left:10%;"></a>
</div> <br/>

<div style="width:100%;">
  <header>
    <h3 class="text-center" style="margin-top:3%; padding:1%; font-weight:bold;background:silver;">
      <span style="font-size: 16px;"> Copyright 2019 <a href="https://iptek-ci.business.site/" target="_blank"> IPTEK-CI</a></span>
      <span style="font-size: 16px;float: right"><a href="https://www.facebook.com/iptekci/" target="_blank"> <i class="fa fa-facebook"></i> </a></span></h3>
  </header>
</div>
<!-- </div> -->
