
<article id="work" class="wrapper style2">
  <div class="container">
    <header>
      <h2>Classement général</h2>
      <!-- <p>Odi turpis amet sed consequat eget posuere consequat.</p> -->
    </header>
    <div class="row aln-center">
      <div class="col-12 col-12-medium col-12-small">
        <section class="box style1">
          <table class="row-border hover table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">Rang</th>
                <th scope="col">N°</th>
                <th scope="col">Pilote/Co-pilote</th>
                <th scope="col" class="d-none d-sm-table-cell">Vehicule</th>
                <th scope="col" class="d-none d-sm-table-cell">Group</th>
                <th scope="col">Temps</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let classement of classements; let i = index">
                <td>{{i+1}} </td>
                <th scope="row">{{classement.numero}} </th>
                <td>{{classement.prenom_pilote}} {{classement.nom_pilote}} / {{classement.prenom_copilote}} {{classement.nom_copilote}}
                </td>
                <td class="d-none d-sm-table-cell">{{classement.marque_vehicule}}</td>
                <td class="d-none d-sm-table-cell">{{classement.classgroup}}</td>
                <td>{{classement.arc|secondToTime}}</td>
              </tr>
            </tbody>
          </table>
          <!-- <span class="icon featured fa-comments-o"></span>
          <h3>Consequat lorem</h3>
          <p>Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.</p> -->
        </section>
      </div>
      <!-- <div class="col-4 col-6-medium col-12-small">
        <section class="box style1">
          <span class="icon featured fa-camera-retro"></span>
          <h3>Lorem dolor tempus</h3>
          <p>Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.</p>
        </section>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <section class="box style1">
          <span class="icon featured fa-thumbs-o-up"></span>
          <h3>Feugiat posuere</h3>
          <p>Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.</p>
        </section>
      </div> -->
    </div>
    <!-- <footer>
      <p>Lorem ipsum dolor sit sapien vestibulum ipsum primis?</p>
      <a href="#portfolio" class="button large scrolly">See some of my recent work</a>
    </footer> -->
  </div>
</article>
<article id="SSV" class="wrapper style2">
  <div class="container">
    <header>
      <h2>Classement SSV</h2>
      <!-- <p>Odi turpis amet sed consequat eget posuere consequat.</p> -->
    </header>
    <div class="row aln-center">
      <div class="col-12 col-12-medium col-12-small">
        <section class="box style1">
          <table class="row-border hover table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">Rang</th>
                <th scope="col">N°</th>
                <th scope="col">Pilote/Co-pilote</th>
                <th scope="col" class="d-none d-sm-table-cell">Vehicule</th>
                <th scope="col" class="d-none d-sm-table-cell">Group</th>
                <th scope="col">Temps</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of class_SSV; let i = index">
                <td>{{i+1}} </td>
                <th scope="row">{{s.numero}} </th>
                <td>{{s.prenom_pilote}} {{s.nom_pilote}} / {{s.prenom_copilote}} {{s.nom_copilote}}
                </td>
                <td class="d-none d-sm-table-cell">{{s.marque_vehicule}}</td>
                <td class="d-none d-sm-table-cell">{{s.classgroup}}</td>
                <td>{{s.arc|secondToTime}}</td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
    <!-- <footer>
      <p>Lorem ipsum dolor sit sapien vestibulum ipsum primis?</p>
      <a href="#portfolio" class="button large scrolly">See some of my recent work</a>
    </footer> -->
  </div>
</article>
<article id="NONSSV" class="wrapper style2">
  <div class="container">
    <header>
      <h2>Classement 4WD/2WD</h2>
      <!-- <p>Odi turpis amet sed consequat eget posuere consequat.</p> -->
    </header>
    <div class="row aln-center">
      <div class="col-12 col-12-medium col-12-small">
        <section class="box style1">
          <table class="row-border hover table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">Rang</th>
                <th scope="col">N°</th>
                <th scope="col">Pilote/Co-pilote</th>
                <th scope="col" class="d-none d-sm-table-cell">Vehicule</th>
                <th scope="col" class="d-none d-sm-table-cell">Group</th>
                <th scope="col">Temps</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of class_nonSSV; let i = index">
                <td>{{i+1}} </td>
                <th scope="row">{{s.numero}} </th>
                <td>{{s.prenom_pilote}} {{s.nom_pilote}} / {{s.prenom_copilote}} {{s.nom_copilote}}
                </td>
                <td class="d-none d-sm-table-cell">{{s.marque_vehicule}}</td>
                <td class="d-none d-sm-table-cell">{{s.classgroup}}</td>
                <td>{{s.arc|secondToTime}}</td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>
</article>
